body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.altura {
    height: 100vh;
    width: 100vw;
}

.centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


:hover {
    transition: 0.5s;
}

a div:hover {
    transition: 1s;
    color: black;
    font-weight: bolder;
    letter-spacing: 0.25em;
}

.prosto>div {
    color: whitesmoke
}


.backButton {
    height: 100vh;
}

.backButton:hover {
    height: 100vh;
    letter-spacing: 0;
}


.tresFotos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.foto {
    display: flex;
    flex-direction: column;
    height: 15em;
    width: 15em;
}

a {
    text-decoration: none;
    color: gray;

}

.email {
    text-decoration: underline;
    color: whitesmoke
}

.lineIcons{
    height: 5em;
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
} 
.fa {
    font-size: 2em;
    opacity: 0.5;
    color: whitesmoke;
}
.fa:hover {
    opacity: 1;
}


.boxText {
    border-left: 0.1em solid whitesmoke;
    color: whitesmoke;
    height: 95vh;
    width: 42vw;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.quote {
    font-size: 2em;
    color: goldenrod;
    margin:3em;
    letter-spacing: 0;
}
.quote:hover {
    /* transition: 1s; */
    color: goldenrod;
    /* font-weight: bolder; */
    letter-spacing: 0;
}

.up {
    justify-content: flex-start;
}

.textoMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textoQuote {
    color: goldenrod;
    font-size: 2em;

}

.marginTop {
    margin-top: 2em;
}

.menu:hover {
    background-color: lightblue;
}

.menu2 {
    background-color: lightblue;
    color: black;
    font-weight: bold;
}

.about:hover {
    background-color: rgb(231, 201, 205);
}

.about2 {
    background-color: rgb(231, 201, 205);
    color: black;
    font-weight: bold;
}

.contact:hover {
    background-color: lightgoldenrodyellow;
}

.contact2 {
    background-color: lightgoldenrodyellow;
    color: black;
    font-weight: bold;
}
.btn {
    border: 0.01em solid whitesmoke;
    margin: 1em;
    
}
form button a {
    color: whitesmoke
}
.form-control, .form-check-input {
    background-color: transparent;
}
.form-text {color:whitesmoke}