body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
}

.altura {
    height: 100vh;
    width: 100vw;
}

.centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.down{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.up {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}




:hover {
    transition: 0.5s;
}

a div:hover {
    transition: 1s;
    color: black;
    font-weight: bolder;
    letter-spacing: 0.25em;
}

.prosto>div {
    color: whitesmoke
}


.backButton {
    height: 100vh;
    min-width: 4em;
}

.backButton:hover {
    height: 100vh;
    letter-spacing: 0;
}

.gallery {
    height: 100vh;
    width: 45em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    flex-wrap: wrap;
}

.foto {
    display: flex;
    flex-direction: column;
    height: 25em;
    width: 25em;
}

.indent {margin-left: 1em;}

a {
    text-decoration: none;
    color: gray;

}

.email {
    text-decoration: underline;
    color: whitesmoke
}

.lineIcons {
    height: 5em;
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.fa {
    font-size: 2em;
    opacity: 0.5;
    color: whitesmoke;
}

.fa:hover {
    opacity: 1;
}


.boxText {
    border-left: 0.1em solid whitesmoke;
    color: whitesmoke;
    height: 95vh;
    width: 75vw;

    margin: 0 1em 0 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;

}

.quote {
    font-size: 2em;
    color: goldenrod;
    margin: 3em;
    letter-spacing: 0;
}

.quote:hover {
    /* transition: 1s; */
    color: goldenrod;
    /* font-weight: bolder; */
    letter-spacing: 0;
}



.textoMenu, .textoContact .textoAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34em;
    
}

.textoQuote {
    color: goldenrod;
    font-size: 2em;

}

.marginTop {
    margin-top: 2em;
}

.menu:hover {
    background-color: lightblue;
}

.menu2 {
    background-color: lightblue;
    color: black;
    font-weight: bold;
}

.about:hover {
    background-color: rgb(231, 201, 205);
}

.about2 {
    background-color: rgb(231, 201, 205);
    color: black;
    font-weight: bold;
}

.contact:hover {
    background-color: lightgoldenrodyellow;
}

.contact2 {
    background-color: lightgoldenrodyellow;
    color: black;
    font-weight: bold;
}

.btn {
    border: 0.01em solid whitesmoke;
    margin: 1em;

}

form button a {
    color: whitesmoke
}

.form-control,
.form-check-input {
    background-color: transparent;
}

.form-text {
    color: whitesmoke
}

.blockquote {
    margin:0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    
    margin-left: 1em;
    color: lightgray;

}

.blockquote:before {
    content: "\201C";
    font-size: 3em;
    color: goldenrod;
}

.cite {
    font-size: 0.5em;
    color: goldenrod;
    display: block;
    margin-top: 1em;
}
.h10 {
    height: 1em;
}
.h90 {
    height: 10em;
}

/* .fixedElement {
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
} */

.row {
    max-height: 100vh;
}